.page {
  margin: 0 1em;
}

.article {
  margin-top: 2em;
}

.article h4 {
  display: inline-block;
  margin: 0;
}

.article span {
  margin-right: 1em;
}

.article header > * {
  margin-top: 0.25em;
}

.article header * + * {
  margin-left: 1em;
}

.article section {
  max-width: 600px;
}
