.article {
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.content {
  margin: 1em 0;
  line-height: 1.5em;
  white-space: pre-wrap;
  font-size: 1.15em;
}

.content p:first-child {
  margin: 0;
}

.header {
  width: 100%;
  padding: 0 0 1em 0;
  border-bottom: 1px solid black;
}

.header :global(.p-name) {
  margin-top: 0;
  font-style: italic;
}

.time {
  font-size: 1em;
}

.row {
  display: flex;
  flex-direction: row;
}

.row * + * {
  margin-left: 1em;
}
