.article {
  margin-top: 2em;
}

.article :global(.p-name) {
  display: inline-block;
  margin: 0 0 0.5em;
}

.article span {
  margin-right: 1em;
}

.article section {
  max-width: 600px;
  margin: 1em 0;
  line-height: 1.5em;
}

.article section p:first-child {
  margin: 0;
}
