.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 0.2em 5vw;
  flex-direction: row;
  background-color: black;
  color: white;
  line-height: 2em;
  z-index: 1000;
}

.nav-bar h3 {
  margin: 0;
}

.nav-bar h3:hover,
.nav-bar li:hover {
  transform: scale(1, -1);
}

.nav-bar-header {
  display: inline-block;
  font-style: italic;
}

.nav-bar a {
  color: white;
  text-decoration: none;
}

.nav-bar-list {
  display: inline-block;
  float: left;
  margin: 0 0.5em;
  padding: 0;
  list-style: none;
}

.nav-bar-list li {
  float: left;
}

.nav-bar-list a {
  margin: 0 0.5em;
}

.active {
  background-color: white;
}

.nav-bar-list[data-active="true"] a {
  color: black;
}
