.tags {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;
  vertical-align: bottom;
  user-select: none;
}

.tags[data-direction="vertical"] {
  display: flex;
  flex-direction: column;
}

.tags[data-direction="vertical"] li {
  margin-top: 1em;
  margin-right: 0;
  float: right;
  text-align: right;
}

.tags[data-direction="vertical"] li + li {
  margin: 0.75em 0 0 0;
}

.tags li {
  float: left;
  margin-right: 0.5em;
}
