.time {
  font-size: 1em;
}

.meta {
  display: flex;
}

.meta time {
  flex-shrink: 0;
  flex-basis: 10em;
}

.meta,
.meta a {
  color: gray;
}

.meta a:hover {
  color: white;
}

.meta > * {
  margin-top: 0.25em;
}

@media(max-width: 600px) {
  .meta {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .meta time {
    flex-basis: initial;
  }
}
