.photoset-list {
  margin: 1em 0;
}

.photoset-list h4 {
  margin: 0 0 0.5em;
}

.photosets {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.photosets li {
  display: inline-block;
}

.photosets li + li {
  margin-left: 1em;
}

.active a {
  background-color: black;
  color: white;
}
