{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-transform-react-jsx",
    "@babel/transform-runtime",
    "@babel/plugin-proposal-optional-chaining",
    ["react-css-modules", {
      "exclude": "^(?!.*module).+\\.(css)$",
      "generateScopedName": "[local]__[hash:base64:5]",
      "context": "src",
      "webpackHotModuleReloading": true,
    }],
    "react-hot-loader/babel",
  ]
}
