.navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 28px;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  line-height: 28px;
  z-index: 1000;
}

.navBarHeader {
  display: inline-block;
  margin: 0 1em 0;
  font-style: italic;
}

.navBar a {
  color: white;
  text-decoration: none;
}

.navBarList {
  display: inline-block;
  float: left;
  margin: 0 0.5em;
  padding: 0;
  list-style: none;
}

.navBarList li {
  float: left;
}

.navBarList a {
  margin: 0 0.5em;
}

.active {
  background-color: white;
}

.active a {
  color: black;
}
